
<div class="row large-12 large-centered columns text-center">
    <h1>About Us</h1>
    <p>This all started as a semester long database project for a class at Appalachian State University. Four students thrown together with various levels of programming.
     After some ideas were discussed the one that seemed to blossom was the idea of having a database built around dietary requirements and local restaurants in
   Boone, NC area.</p>
   <p>Out of the four of us, three of us had diets that made eatting out somewhat of a hassle. The three of us are all vegetarian and though some restaurants are
     nice enough to list out what food items are vegan or vegetarian, some do not cater that information in an easily accessable way.</p>
   <p>But why stop at vegan or vegetarian? There are plenty out there who have various diets that are done either by preference, or by requirement. Shouldn't they
   be able to feel comfortable knowing that if they want to go out and eat, they will have options to choose from?</p>
   <p>That is our goal, to allow people to search our database and filter using their choosen dietary requirement. From there, they will have a list of restaurants in the
   area that have menu items that adhere to that dietary requirement.</p>
</div>
<div class="row large-12 large-centered columns text-center">
  <h2>A little bit about the Developers</h2>
</div>
<div class="large-12 columns large-centered">
<table class="body large-12 columns">
    <tr>
      <td class="center" align="center" valign="top">
        <center>
          <table class="container">
            <tr>
              <td>
                <table class="row" dir="rtl">
                  <tr>
                    <td class="wrapper" dir="ltr">
                      <table class="four columns" >
                        <tr>
                         <td class="center" align="center">
                           <center>
                             <!-- /imgs/about/ourname.jpg -->
                             <img class="center" src="imgs/about/amanda.jpg" width="128" height="154">
                           </center>
                         </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                    <td class="wrapper last" dir="ltr">
                      <table class="eight columns">
                        <tr>
                          <td>
                            <p>My name is Amanda Jackson, and I became a vegetarian November 2015. Growing up with a family who centered meals around a main dish of meat, I never thought I would ever become a vegetarian. However after seeing a coworker go from being an omnivore to a vegan, I was inspired to make the change myself. I hope to make the transition to vegan one day, myself. The main struggle I have had is reevaluating the way I do meals and trying new things outside of my comfort zone. </p>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <table class="row">
                 <tr>
                   <td class="wrapper">
                      <table class="four columns" >
                        <tr>
                         <td class="center" align="center">
                           <center>
                             <img class="center" src="imgs/about/kira.jpg" width="128" height="154"/>
                           </center>
                         </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                    <td class="wrapper last">
                      <table class="eight columns">
                        <tr>
                          <td>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ipsa obcaecati iusto consequatur laudantium voluptas odio! Iure at aliquid pariatur sapiente sint, et facilis ipsa, maiores deleniti, minima perspiciatis sed. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa voluptatem ipsam quae nostrum. Dicta hic, cum similique quas perferendis excepturi, autem earum iste, sint vero quae rem dolorum illo quaerat.</p>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <table class="row" dir="rtl">
                  <tr>
                    <td class="wrapper" dir="ltr">
                      <table class="four columns" >
                        <tr>
                         <td class="center" align="center">
                           <center>
                             <img class="center" src="imgs/about/francisco.jpg" width="128" height="154"/>
                           </center>
                         </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                    <td class="wrapper last" dir="ltr">
                      <table class="eight columns">
                        <tr>
                          <td>
                            <p>I'm Francisco Fantl, a CS major originally from Chile and a new vegetarian. I started as a vegetarian from the age of 23 as a challenge to myself and became a vegetarian for life. I apparently have to try for 4 sentences about myself, but I only have 2. Good luck.</p>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <table class="row">
                 <tr>
                   <td class="wrapper">
                      <table class="four columns" >
                        <tr>
                         <td class="center" align="center">
                           <center>
                             <img class="center" src="imgs/about/charlie.jpg" width="128" height="154"/>
                           </center>
                         </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                    <td class="wrapper last">
                      <table class="eight columns">
                        <tr>
                          <td>
                            <p>I am Charlie and I love food. Making food and making it beautiful makes me happy. Each taste can change a meal entirely. I haven't had any special training, but I do like to make food. I started catering in 2015 and I believe that has helped me in the creation of this website and to help provide the best experience for our users.</p>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              <!-- container end below -->
              </td>
            </tr>
          </table>
        </center>
      </td>
    </tr>
  </table>
</div>
<script type="text/javascript">
  if(typeof HCDietsApp === 'undefined'){
    document.location.href="../../";
  }
  $(document).foundation();
</script>
