
<div class="row large-12 large-centered columns text-center">
    <h1>About Us</h1>
    <p>This all started as a semester long database project for a class at Appalachian State University. Four students thrown together with various levels of programming.
     After some ideas were discussed the one that seemed to blossom was the idea of having a database built around dietary requirements and local restaurants in
   Boone, NC area.</p>
   <p>Out of the four of us, three of us had diets that made eatting out somewhat of a hassle. The three of us are all vegetarian and though some restaurants are
     nice enough to list out what food items are vegan or vegetarian, some do not cater that information in an easily accessable way.</p>
   <p>But why stop at vegan or vegetarian? There are plenty out there who have various diets that are done either by preference, or by requirement. Shouldn't they
   be able to feel comfortable knowing that if they want to go out and eat, they will have options to choose from?</p>
   <p>That is our goal, to allow people to search our database and filter using their choosen dietary requirement. From there, they will have a list of restaurants in the
   area that have menu items that adhere to that dietary requirement.</p>
</div>
<div class="row large-12 large-centered columns text-center">
  <h2>A little bit about the Developers</h2>
  <div class="large-12 columns">
    <p></p>
  </div>
  <div class="large-2 columns">
    <p></p>
  </div>
  <div class="large-8 columns">
    <p>My name is Amanda Jackson, and I became a vegetarian November 2015. Growing up with a family who centered meals around a main dish of meat, I never thought I would ever become a vegetarian. However after seeing a coworker go from being an omnivore to a vegan, I was inspired to make the change myself. The main struggle I have had is reevaluating the way I do meals and trying new things outside of my comfort zone. </p>
  </div>
  <div class="large-2 columns">
    <center>
      <img class="center" src="imgs/about/amanda.jpg" width="228" height="254">
    </center>
  </div>
  <div class="large-12 columns">
    <p></p>
  </div>
  <div class="large-2 columns">
    <center>
      <img class="center" src="imgs/about/kira.jpg" width="228" height="254">
    </center>
  </div>
  <div class="large-8 columns">
    <p>Hi there! I'm Kira Willow Vashaw, a web developer from Raleigh NC and long time vegetarian.
      I moved to Boone two years ago to study computer science at Appalachian State.
      Baking is one of my passions, particularly baking for other people. Finding recipes
      that meet the dietary needs of the people I bake for can be tricky, which is where I hope this site will come in handy.</p>
  </div>
  <div class="large-2 columns">
    <p></p>
  </div>
  <div class="large-12 columns">
    <p></p>
  </div>
  <div class="large-2 columns">
    <p></p>
  </div>
  <div class="large-8 columns">
    <p>I'm Francisco Fantl, a CS major originally from Chile and a new vegetarian. I started as a vegetarian from the age of 23 as a challenge to myself and became a vegetarian for life. I apparently have to try for 4 sentences about myself, but I only have 2. Good luck.</p>
  </div>
  <div class="large-2 columns">
    <center>
      <img class="center" src="imgs/about/francisco.jpg" width="228" height="254">
    </center>
  </div>
  <div class="large-12 columns">
    <p></p>
  </div>
  <div class="large-2 columns">
    <center>
      <img class="center" src="imgs/about/charlie.jpg" width="228" height= "254">
    </center>
  </div>
  <div class="large-8 columns">
    <p>I am Charlie and I love food. Making food and making it beautiful makes me happy. Each taste can change a meal entirely. I haven't had any special training, but I do like to make food. I started catering in 2015 and I believe that has helped me in the creation of this website and to help provide the best experience for our users.</p>
  </div>
  <div class="large-2 columns">
    <p></p>
  </div>
  <div class="large-12 columns">
    <p></p>
  </div>
</div>
<script type="text/javascript">
  if(typeof HCDietsApp === 'undefined'){
    document.location.href="../../";
  }
  $(document).foundation();
</script>
