
<div class="row large-centered medium-centered small-centered">
  <div class=" large-4 medium-6 small-12 columns large-centered medium-centered small-centered">
    <form novalidate ng-submit="login()" formAutofillFix>
      <fieldset class="text-center">
        <legend>Login</legend>
          <div>
              <label for="email">Email</label>
              <input type="email" name="email" id="email" ng-model="user.email" required />
          </div>
          <div>
              <label for="pass">Password</label>
              <input type="password" name="pass" id="pass" ng-model="user.pass" required />
          </div>
          <span ng-show="error" class="errorMessage">{{error}}</span>
          <div>
              <button type="submit">Login</button>
              <a href="#/register">Register</a>
          </div>
      </fieldset>
    </form>
  </div>
</div>
<script>
  $(document).foundation();
  if(typeof HCDietsApp === 'undefined'){
    document.location.href="../../";
  }
</script>
