<div class="row large-centered medium-centered small-centered">
  <div class=" large-4 medium-6 small-12 columns large-centered medium-centered small-centered">
    <form novalidate>
      <fieldset  class="text-center">
        <legend>Login<span style="color:red"> INACTIVE!</span></legend>
          <div>
              <label for="username">Username</label>
              <input type="text" name="username" id="username" ng-model="username" required />
          </div>
          <div>
              <label for="password">Password</label>
              <input type="password" name="password" id="password" ng-model="password" required />
          </div>
          <div>
              <button ng-click="">Login</button>
              <a href="#/register" class="btn btn-link">Register</a>
          </div>
      </fieldset>
    </form>
  </div>
</div>
