<form novalidate ng-submit="addRecipe()" data-equalizer>

  <div class="large-3 columns text-center" data-equalizer-watch>
    <h3>Add Ingredients</h3>
    <label>Name<input type="text" ng-model="newIngredientName" required></label>
    <label>Description (optional)<input type="text" ng-model="newIngredientDesc"></label>
    <button type="button" class="button" ng-click="addIngredient()">Add Ingredient</button>
    <div class="large-12 columns panel">
      <button ng-repeat="ing in ingredients" ng-click="removeIngredient($index)" type="button" class="slimbutton">{{ing.name}}</button>
    </div>
  </div>

  <div class="large-6 columns text-center" data-equalizer-watch>
    <h3>Recipe Creation</h3>
    <label>Description<textarea ng-model="description" class="recipeTextArea"></textarea></label>
    <label>Directions<textarea ng-model="directions" class="recipeTextArea"></textarea></label>
    <button type="submit" class="button">Add Recipe</button>
  </div>

  <div class="large-3 columns text-center" data-equalizer-watch>
    <h3>What dietary requirements does this recipe pass?</h3>
    <button class="dropdown" dropdown-toggle='#dreqdropdown'>Dietary Requirements</button>
    <ul class="f-dropdown" id="dreqdropdown">
      <li ng-repeat="dreq in dietaryreqs">
        <button
          type="button"
          class="{{dreq.class}} slimbutton"
          ng-model="dreq.input"
          ng-click="dreqSelect($index)"
        >{{dreq.name}}
        </button>
      </li>
    </ul>
  </div>

</form>

<script type="text/javascript">
  if(typeof HCDietsApp === 'undefined'){
    document.location.href="../../";
  }
  $(document).foundation();
</script>
