<script type="text/javascript">
  if(typeof HCDietsApp === 'undefined'){
    document.location.href="../../";
  }
</script>
<div class="row large-12 large-centered columns text-center" data-equalizer>
    <h1>About Us</h1>
    <p>This all started as a semester long database project for a class at Appalachian State University. Four students thrown together with various levels of programming.
     After some ideas were discussed the one that seemed to blossom was the idea of having a database built around dietary requirements and local restaurants in
   Boone, NC area.</p>
   <p>Out of the four of us, half of us had diets that made eatting out somewhat of a hassle. One being vegetarian and the other vegan.
   Some restaurants are nice enough to list out what food items are vegan or vegetarian, however some do not cater that information in an easily accessable way.</p>
   <p>But why stop at vegan or vegetarian? There are plenty out there who have various diets that are done either by preference, or by requirement. Shouldn't they
   be able to feel comfortable knowing that if they want to go out and eat, they will have options to choose from?</p>
   <p>That is our goal, to allow people to search our database and filter using their choosen dietary requirement. From there, they will have a list of restaurants in the
   area that have menu items that adhere to that dietary requirement.</p>
</div>
<script>
  $(document).foundation();
</script>
