
<div class="row large-12 large-centered columns text-center">
    <h1>About Us</h1>
    <p>This all started as a semester long database project for a class at Appalachian State University. Four students thrown together with various levels of programming.
     After some ideas were discussed the one that seemed to blossom was the idea of having a database built around dietary requirements and local restaurants in
   Boone, NC area.</p>
   <p>Out of the four of us, three of us had diets that made eatting out somewhat of a hassle. The three of us are all vegetarian and though some restaurants are
     nice enough to list out what food items are vegan or vegetarian, some do not cater that information in an easily accessable way.</p>
   <p>But why stop at vegan or vegetarian? There are plenty out there who have various diets that are done either by preference, or by requirement. Shouldn't they
   be able to feel comfortable knowing that if they want to go out and eat, they will have options to choose from?</p>
   <p>That is our goal, to allow people to search our database and filter using their choosen dietary requirement. From there, they will have a list of restaurants in the
   area that have menu items that adhere to that dietary requirement.</p>
</div>
<div class="row large-12 large-centered columns text-center">
  <h2>A little bit about the Developers</h2>
</div>
<div class="large-12 columns large-centered">
<table class="body large-8 columns large-offset-2">
    <tr>
      <td class="center" align="center" valign="top">
        <center>
          <table class="container">
            <tr>
              <td>
                <table class="row" dir="rtl">
                  <tr>
                    <td class="wrapper" dir="ltr">
                      <table class="four columns" >
                        <tr>
                         <td class="center" align="center">
                           <center>
                             <img class="center" src="http://placekitten.com/g/600/600" alt="Majestic Kitty">
                           </center>
                         </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                    <td class="wrapper last" dir="ltr">
                      <table class="eight columns">
                        <tr>
                          <td>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ipsa obcaecati iusto consequatur laudantium voluptas odio! Iure at aliquid pariatur sapiente sint, et facilis ipsa, maiores deleniti, minima perspiciatis sed. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora harum dolore laboriosam inventore ipsam unde asperiores voluptatem facere ratione et voluptate perspiciatis dolor, dolorem quam cumque quasi voluptatum, beatae deserunt!</p>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <table class="row">
                 <tr>
                   <td class="wrapper">
                      <table class="four columns" >
                        <tr>
                         <td class="center" align="center">
                           <center>
                             <img class="center" src="http://placekitten.com/g/600/600" alt="Majestic Kitty" />
                           </center>
                         </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                    <td class="wrapper last">
                      <table class="eight columns">
                        <tr>
                          <td>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ipsa obcaecati iusto consequatur laudantium voluptas odio! Iure at aliquid pariatur sapiente sint, et facilis ipsa, maiores deleniti, minima perspiciatis sed. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa voluptatem ipsam quae nostrum. Dicta hic, cum similique quas perferendis excepturi, autem earum iste, sint vero quae rem dolorum illo quaerat.</p>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <table class="row" dir="rtl">
                  <tr>
                    <td class="wrapper" dir="ltr">
                      <table class="four columns" >
                        <tr>
                         <td class="center" align="center">
                           <center>
                             <img class="center" src="http://placekitten.com/g/600/600" alt="Majestic Kitty" />
                           </center>
                         </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                    <td class="wrapper last" dir="ltr">
                      <table class="eight columns">
                        <tr>
                          <td>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ipsa obcaecati iusto consequatur laudantium voluptas odio! Iure at aliquid pariatur sapiente sint, et facilis ipsa, maiores deleniti, minima perspiciatis sed. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora harum dolore laboriosam inventore ipsam unde asperiores voluptatem facere ratione et voluptate perspiciatis dolor, dolorem quam cumque quasi voluptatum, beatae deserunt!</p>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <table class="row">
                 <tr>
                   <td class="wrapper">
                      <table class="four columns" >
                        <tr>
                         <td class="center" align="center">
                           <center>
                             <img class="center" src="http://placekitten.com/g/600/600" alt="Majestic Kitty" />
                           </center>
                         </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                    <td class="wrapper last">
                      <table class="eight columns">
                        <tr>
                          <td>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ipsa obcaecati iusto consequatur laudantium voluptas odio! Iure at aliquid pariatur sapiente sint, et facilis ipsa, maiores deleniti, minima perspiciatis sed. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa voluptatem ipsam quae nostrum. Dicta hic, cum similique quas perferendis excepturi, autem earum iste, sint vero quae rem dolorum illo quaerat.</p>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              <!-- container end below -->
              </td>
            </tr>
          </table>
        </center>
      </td>
    </tr>
  </table>
</div>
<script type="text/javascript">
  if(typeof HCDietsApp === 'undefined'){
    document.location.href="../../";
  }
  $(document).foundation();
</script>
