
<div class="row large-12 large-centered columns">
  <h2 class="text-center">{{recipe.name}}</h2>
  <div class="large-12 columns">
  <h6>Recipe Description</h6>
  <p>{{recipe.description}}</p>
  </div>
  <div class="large-4 panel columns">
    <h4>Ingredients</h4>
    <ul>
      <li ng-repeat="ingredient in ingredients">
        {{ingredient.quantity}} {{ingredient.name}}
      </li>
    </ul>
  </div>
  <div class="large-8 columns">
    <h4>Directions</h4>
    <p ng-repeat="step in recipe.steps">Step {{$index + 1}}<br>{{step}}</p>
  </div>
  <div class="large-12 columns">
    <h5>Comments</h5>
    <textarea ng-model="newComment"></textarea>
    <button type="button" ng-click="addComment()">Comment</button>
  </div>
</div>

<script type="text/javascript">
  if(typeof HCDietsApp === 'undefined'){
    document.location.href="../../";
  }
  $(document).foundation();
</script>
