
<div class="row large-12 large-centered columns text-center" data-equalizer>
    <h3>Welcome to High Country Diets!</h3>
    <a href="#/search">
      <div class="large-12 medium-12 small-12 columns panel">
        <h4>Click here to head over to our search engine to find excellent high country food that meets your dietary requirement.</h4>
      </div>
    </a>
    <a href="#/signup">
      <div class="large-6 medium-6 small-12 columns panel" data-equalizer-watch>
        <p>Interested in contributing? Click here to make an account so you can upload your own recipes to share with the community</p>
      </div>
    </a>
    <a href="#/about">
      <div class="large-6 medium-6 small-12 columns panel" data-equalizer-watch>
        <p>Want to more about us? Click here to read our story.</p>
      </div>
    </a>
</div>
<script>
  $(document).foundation();
</script>
