@import "settings";
@import "foundation";

button.slimbutton:hover {
  background-color : scale-color($button-bg-color, $lightness: -30%);
}

button.slimbutton {
  width: 100%;
  padding:5px;
  margin:0px;
}
.table-center {
  margin: 0 auto;
}

.table-deliminated {
  border-collapse: collapse;
}
.table-deliminated tr {
  border: solid;
  border-width: 0 0;
  border-color: $primary-color;
}
.table-deliminated tr:first-child {
  border-top: none;
}
.table-deliminated tr:last-child {
  border-bottom: none;
}
button .choosereqbutton {
  @include button();
}
input[type="email"].noInput {

}
input[type="email"].invalidInput {
  border-color: red;
}

input[type="email"].validInput {
  border-color: lightgreen;
}

input[type="password"].noInput {

}
input[type="password"].invalidInput {
  border-color: red;
}

input[type="password"].validInput {
  border-color: lightgreen;
}

input[type="text"].noInput {

}
input[type="text"].invalidInput {
  border-color: red;
}

input[type="text"].validInput {
  border-color: lightgreen;
}

button.selected {
  background-color : scale-color($button-bg-color, $lightness: -30%);
}

button.notSelected {
  background-color : $button-bg-color;
}

.errorMessage {
  margin:5px;
  font-size: 12px;
}
