@import "settings";
@import "foundation";


.stepErrorMessage {
  color : red; 
  text-align: right;
  margin : 0;
  padding : 0;
  width : 100%;
  position: relative;
}

.recipeTextArea {
  height:200px;
}

button.slimbutton:hover {
  background-color : scale-color($button-bg-color, $lightness: -30%);
}

button.slimbutton {
  width: 100%;
  padding:5px;
  margin:0px;
}
.table-center {
  margin: 0 auto;
}

.table-deliminated {
  border-collapse: collapse;
}
.table-deliminated tr {
  border: solid;
  border-width: 0 0;
  border-color: $primary-color;
}
.table-deliminated tr:first-child {
  border-top: none;
}
.table-deliminated tr:last-child {
  border-bottom: none;
}
button .choosereqbutton {
  @include button();
}
input[type="email"].noInput {

}
input[type="email"].invalidInput {
  border-color: red;
}

input[type="email"].validInput {
  border-color: lightgreen;
}

input[type="password"].noInput {

}
input[type="password"].invalidInput {
  border-color: red;
}

input[type="password"].validInput {
  border-color: lightgreen;
}

input[type="text"].noInput {

}
input[type="text"].invalidInput {
  border-color: red;
}

input[type="text"].validInput {
  border-color: lightgreen;
}

button.selected {
  background-color : scale-color($button-bg-color, $lightness: -30%);
}

button.notSelected {
  background-color : $button-bg-color;
}

.errorMessage {
  margin:5px;
  font-size: 12px;
}

// Profile Cards (Fran)
.bump{
  margin-top: 50px;
  padding-right: 30px;
  padding-left:30px;
}

.profile-card{
  padding-top: 15px;
  padding-bottom: 0px;
  border-radius: 5px;
  background: #2B2937;
  overflow:hidden;
  h4{
    font-family: "Proxima Nova","proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    color: $white;
    font-size: 30px;
    line-height:26px;
    span{
      font-size: 20px;
      color: #8C91A7;
      display: block;
    }
  }
  img{
    border-radius: 50%;
    border: 4px solid #69708C;
  }
  .button-group{
    width: 101%;
    .button{
      margin-bottom: 0;
      border-top: none;
      border-left: none;
      border-right: 2px solid #2B2937;
      border-bottom: none;
      background-color: #394165;
      height: 80px;
      padding-top: 15px;
      margin-top: 20px;
      font-weight:200;
      font-size: 16px;
      line-height: 26px;
      color: #8C91A7;
      box-shadow: none;
      span{
       display: block;
       font-size: 24px;
       font-weight: 600;
       color:#fff;
      }
    }
  }
  p{
    font-size: 16px;
    margin-bottom: 0;
    color: #8C91A7;
    }
  i{
    font-size: 26px;
    vertical-align:middle;
    padding-right: 5px;
    color: #394165;
  }
}

@media only screen and (max-width: 767px){
  .profile-card{
    img{
     margin-left:auto;
     margin-right:auto;
     width:40%;
    }
    h4, p{
      text-align: center;
    }
    .button-group .button{
      font-size: 14px;
      span{
        font-size: 20px
      }
    }
  }
}


.full-width {
  max-width: 1400px;
}

$text-color: #fff;

// footer CSS

.footer {
  background-color: #2980b9;
  padding: 2rem 4rem;
  text-align: center;
  color: $text-color;
  i {
    font-size: 100px;
  }
}

.footer {
  h4 {
    color: $text-color;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 2.5rem;
    margin-bottom: 10px;
  }
  p, a {
    font-weight: 300; 
    font-size: .8em;
    color: $text-color;
  }
}

@media only screen and (min-width: 40.063em) {
.footer {
  .columns:nth-child(n+2) {
    border-left: 1px solid scale-color($text-color, $lightness: -30%);
    min-height: 280px;
  }
 }
}

.footer-links {
  list-style-type: none;
  li {
    margin-top: .5em;
  }
}