<script type="text/javascript">
  if(typeof HCDietsApp === 'undefined'){
    document.location.href="../../";
  }
</script>
<div class="row large-12 large-centered columns text-center">
    <h3>Here is our search engine...</h3>
</div>

<div class="large-6 large-centered columns text-center">
  <button ng-click="test()">Test: Query Users</button>
  <table class="table-center">
    <tr ng-repeat="x in names">
      <td>{{ x.fname }}</td>
      <td>{{ x.sname }}</td>
      <td>{{ x.email }}</td>
    </tr>
</table>
</div>

<script>
  $(document).foundation();
</script>
