<div class="row large-12 large-centered columns text-center">
    <h3>Here is our search engine...</h3>

</div>

<form novalidate>
  <div class="large-centered text-center">
    <button type="submit" class="button" ng-click="search('recipe')">Search Recipes</button>
    <button type="submit" class="button" ng-click="search('restaurant')">Search Restaurants</button>
  </div>

  <!-- Narrow Search Options -->
  <div class="large-2 medium-4 large-offset-1 columns">
    <button class="dropdown" dropdown-toggle='#dreqdropdown'>Dietary Requirements</button>
    <ul class="f-dropdown" id="dreqdropdown">
      <li ng-repeat="dreq in dietaryreqs">
        <button
          type="button"
          class="{{dreq.class}} slimbutton"
          ng-model="dreq.input"
          ng-click="dreqSelect($index)"
        >
            {{dreq.name}}
        </button>
      </li>
    </ul>
    <label for="nameMatch">Name: </label>
    <input type="text" name="nameMatch" id="nameMatch" ng-model="nameMatch">
  </div>

  <!-- Search Display -->
  <div class="large-9 medium-8 columns">
    <div class="large-12 columns panel">
      <p>{{results1}}</p>
      <p>{{results2}}</p>
    </div>

    <div class="large-12 columns panel" ng-repeat="result in results">
      <div class="large-4 columns">
        <h4>{{result.name}}</h4>
      </div>
      <div class="large-6 columns">
        <p>Description...</p>
      </div>
      <div class="large-2 columns">
        <button type="button" class="slimbutton" ng-click="goToRecipe(result.id)">Go to page</button>
      </div>
    </div>
  </div>

</form>

<script type="text/javascript">
  if(typeof HCDietsApp === 'undefined'){
    document.location.href="../../";
  }
  $(document).foundation();
</script>
